<div class="row">

    <div class="col-md-4">
      <div class="card-counter danger">
        <i class="fa fa-box-open"></i>
        <span class="count-numbers">599</span>
        <span class="count-name">Productos</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter success">
        <i class="fa fa-money-check-alt"></i>
        <span class="count-numbers">6875</span>
        <span class="count-name">Ventas</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Usuarios</span>
      </div>
    </div>
</div>
