<br>

<div class="row">
    <div class="col-lg-5">
        
            
          
    </div>
    <div class="col-lg-7">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table row-border hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Rol</th>
                <th>editar</th>
                <th>eliminar</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tabla">
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.apellido }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.role }}</td>
                  <td><i class="fas fa-edit"></i></td>
                  <td><i class="fas fa-trash-alt"></i></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
  
  